<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Previous Applications</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Welcome <%=user%></a>
  
</nav>
<div class="container mt-4">
<h3>Applications</h3>
<hr>
<div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Number of Days</th>
          <th scope="col">Reason</th>
          <th scope="col">Remark By HOD</th>
          <th scope="col">Remark By DOFA</th>
          <th scope="col">Remark By Director</th>
          <th scope="col">Status</th>
          <th scope="col">Status Remark</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(x=>{%>
          <tr>
            <td><%= x.type %></td>
            <td><%= x.s_date %></td>
            <td><%= x.e_date %></td>
            <td><%= x.numdays %></td>
            <td><%= x.reason %></td>
            <td><%= x.rembyHOD %></td>
            <td><%= x.rembyDOFA %></td>
            <td><%= x.rembydir %></td>

            <% if(x.status=='P') {%>
              <td><%= "Pending" %></td>
              <%}%>
            <%if(x.status=='D'){%>
              <td><%= "Declined" %></td>
            <%}%>
            <%if(x.status=='A'){%>
              <td><%= "Approved" %></td>
            <%}%>

            <% if(x.auth=='H' && x.status=='P') {%>
              <td><%= "Pending with HOD" %></td>
              <%}%>

            <%if(x.auth=='D' && x.status=='P'){%>
              <td><%= "Pending with DOFA" %></td>
            <%}%>

            <%if(x.auth=='X' && x.status=='P'){%>
              <td><%= "Pending with Director" %></td>
            <%}%>

            <%if(x.auth=='X' && x.status=='A'){%>
              <td><%= "Approved By Director" %></td>
            <%}%>
            
            <%if(x.auth=='X' && x.status=='D'){%>
              <td><%= "Approved By Director" %></td>
            <%}%>

          </tr>
        <%})%>
      </tbody>
    </table>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>